.athletes{
    text-align: right;

    .athletes_intro{
        display: flex;
        justify-content: flex-end;
        margin: var(--spacing-sd) 0;

        p{
            width: 66%;

            @media screen and (max-width:$breakpoint-sm) {
                width: 80%;
            }

            @media screen and (max-width:$breakpoint-xs) {
                width: 100%;
            }
        }
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--grid-gap);

        @media screen and (max-width:$breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width:$breakpoint-sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}