.footer{
    background-color: var(--color-black);
    color: var(--color-white);
    padding-bottom: var(--spacing-sm);
    text-align: center;

    a{
        color: var(--color-white);
    }

    .liens_footer{
        display: flex;
        justify-content: center;
        gap: var(--spacing-sm);
        list-style: none;
        margin: var(--spacing-sm) 0;
        padding: 0;
    }

    .lien_footer{
        --size-bg-rs: 30px;

        position: relative;
        height: var(--size-bg-rs);
        width: var(--size-bg-rs);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;

        &::after{
            content: '';
            position: absolute;
            padding: 15px;
            background-color: rgba($color: #ffffff, $alpha: 0.1);
            border-radius: 100px;
            transition: $transition-custom; // tra
        }

        &:hover{
            background: none;
            &::after{
                padding: 30px;
            }
        }
    }

    .logo{
        justify-content: center;

        &:hover{
            color: var(--color-primary);
        }
    }
}