.gallerie{
    text-align: right;

    h2{
        margin-bottom: var(--spacing-md);
    }

    .swiper{
        height: 550px; // height swiper
        width: 100%;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}