/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;

    --font-size-content: 18px;

    /// Grosseur des textes
    --font-size-h1: 100px;
    --font-size-h2: 50px;
    --font-size-h3: 35px;

    --font-size-liens-header: 14px;
    --font-size-logo: 40px;
}
